h1, article, footer {
  margin-left: 6%;
  margin-right: 35%;
}

h1 a.back {
  position: absolute;
  left: 0;
  width: 6%;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  text-decoration: none;

  display: inline-block;
  zoom: 1;
  *display: inline;
}

h1 a.back:hover {
  text-shadow: 0 0 1px #000000, 0 0 3px #000000;
  color: #ffffff;
}

h1 a.back:active {
  color: #000000;
}


section.content {
  font-size: 1.1em;
  background: #e8e8e8;

  width: 40%;
  margin: 4em 56% 1% 4%;
  padding: 0.5em 2ex;
  border: 1px solid #CBCBCB;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  box-shadow: 1px 1px 4px #aaaaaa, 0.5ex 0.5ex 1ex #CCCCCC;
  -moz-box-shadow: 1px 1px 4px #aaaaaa, 0.5ex 0.5ex 1ex #CCCCCC;
  -webkit-box-shadow: 1px 1px 4px #aaaaaa, 0.5ex 0.5ex 1ex #CCCCCC;
}

article {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em 4ex;
  background: #ffffff;
  min-width: 40em;
  max-width: 60em;

  text-align: justify;

  box-shadow: 2px 2px 4px #999999, -1px -1px 1px #999999;
  -moz-box-shadow: 2px 2px 4px #999999, -1px -1px 1px #999999;
}

section.content h1 {
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1ex;
  margin-bottom: 0;

  font-family: 'UnifrakturMaguntia', serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0.002em;
  line-height: 1.2;  
}

footer {
  padding: 1em 4ex;
}

pre {
  width: 100%;
  overflow-x: auto;
  padding: 0;
  background: #fafafa;
}

hr {
  color: #D8DBDE;
  background-color: #D8DBDE;
  height: 1px;
  border-width: 0px;
  margin: 1em 0;
}

p {
  position: relative;
}

small.note {
  position: absolute;
  left: 100%;
  top: 0;
  width: 50%;
  max-width: 30em;
  margin-left: 8ex;
}

span.retweet {
  vertical-align: top;

  display: inline-block;
  zoom: 1;
  *display: inline;
}
